<mat-sidenav-container class="demo-container">
  <main>
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button mat-icon-button>
        <mat-icon>access_time</mat-icon>
      </button>
      <!--<mat-icon>access_time</mat-icon>-->
      <h1>Angular Material Time Select Demo</h1>
      <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <button mat-button (click)="toggleTheme()">{{dark ? 'Light' : 'Dark'}} theme</button>
    </mat-toolbar>
    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</mat-sidenav-container>
